<ion-view title="IThoughts" >
    
    <div class="bar bar-header bar-calm">
        <h1 class="title">IThoughts</h1>
    </div>
  <ion-content>

      <div class="list card">

          <div class="item item-avatar">
              <img src="http://lorempixel.com/50/50/people/">
              <h2>{{author}}</h2>
              <p>November {{07}}, 2014</p>
          </div>

          <div class="item item-body text-center">
              
              <div class="padding-top" id="content" >
                  <div class="card col-center row-center padding dark">{{quote}}</div>
              </div>
              
              
              <p>
                  <a href="#" class="subdued">1 Like</a>
                  <a href="#" class="subdued">5 Comments</a>
              </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" ng-click="pre()" href="#">
                  <i class="icon ion-ios-arrow-back calm"></i>
                  Prev
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-ios-paperplane calm"></i>
                  Share
              </a>
              <a class="tab-item" ng-click="next()" href="#">
                  Next
                  <i class="icon ion-ios-arrow-forward calm"></i>
              </a>
          </div>

      </div>


    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
